<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Releases | {{todayDate}}</title>

    <style>
        .center {
            text-align: center;
        }

        .content-wrapper {
            margin: 0 auto;
            border: 1px solid rgb(177, 177, 177);
            border-radius: 12px;
            width: 90%;
            padding: 20px;
            font-family: 'Segoe UI', sans-serif;
        }

        .release {
            display: inline-block;
            text-align: center;
            margin: 0 3px 50px 3px;
            vertical-align: top;
            width: 310px;
            height: 350px;
        }

        .album-art img {
            width: 300px;
            height: 300px;
            margin-bottom: 2px;
        }

        .album-name,
        .artists,
        .release-date {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }

        ul {
            padding: 0;
            margin: 20px auto;
            width: fit-content;
            text-align: center;
            list-style-type: none;
        }
    </style>
</head>

<body>
    <div class="content-wrapper center">
        <h1>Welcome to the weekend, {{userId}}.</h1>
        <h2>We've got some new music for you that came out in the past week.</h2>

        <ul>
            {{#each releases}}
            <li class="release">
                <a class="album-art" href={{this.external_urls.spotify}}>
                    <img src={{this.images.[0].url}} />
                </a>
                <h3 class="album-name">{{this.name}}</h3>
                <p class="artists">{{this.artists}}</p>
                <p class="release-date">{{this.release_date}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>