<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Releases | {{todayDate}}</title>

    <style>
        .center {
            text-align: center;
        }

        .content-wrapper {
            margin: 0 auto;
            width: 90%;
            padding: 20px;
            font-family: 'Segoe UI', sans-serif;
        }

        .spotify-logo {
            width: 100px;
            height: auto;
        }

        .release {
            display: inline-block;
            text-align: center;
            margin: 0 3px 50px 3px;
            vertical-align: top;
            width: 310px;
            height: 365px;
        }

        .album-art img {
            width: 300px;
            height: 300px;
            margin-bottom: 2px;
        }

        .album-name,
        .artists,
        .tracks,
        .release-date {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }

    </style>
</head>

<body>
    <div class="content-wrapper center">
        
        {{#if releases}}
        <h1>The weekend is here.</h1>
        <h2>That means more music from the artists you love, straight to your inbox.</h2>

            {{#each releases}}
            <div class="release">
                <a class="album-art" href={{this.external_urls.spotify}}>
                    <img src={{this.images.[0].url}} alt="Album cover for {{this.name}}" />
                </a>
                <h3 class="album-name">{{this.name}}</h3>
                <p class="artists">{{this.artists}}</p>
                {{#if (compare this.total_tracks '>' 1)}}
                <p class="tracks">{{this.total_tracks}} tracks</p>
                {{else}}
                <p class="tracks">{{this.total_tracks}} track</p>
                {{/if}}
                <p class="release-date">{{this.release_date}}</p>
            </div>
            {{/each}}

        {{else}}
        <h2>You're followed artists didn't release any new music in the last 7 days. Follow more of your favorite artists to get more
            music straight to your inbox, every Friday.</h2>
        {{/if}}

        <br>
        <h3>Brought to you by <a href="https://weeklyreleases.com/">Weekly Releases</a>.</h3>
        <br>

        <p>This service is powered by the </p>
        <img class="spotify-logo"
            src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green-768x231.png">
        <p>Web API.</p>

    </div>
</body>

</html>