<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{metaTitle}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-touch-icon.png?">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png?">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png?">
    {{!--
    <link rel="manifest" href="../../images/favicon/site.webmanifest"> --}}
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>
    <div class="column-wrapper">
        <header>
            <nav>
                <a class="nav-links a-link-after-none" href="/">
                    <div class="logo-container">
                        <div class="logo">
                            <img class="logo-img" src="../../images/Union.png" />
                            <img class="logo-words" src="../../images/weekly_releases.png" />
                        </div>
                    </div>
                </a>
                <div class="nav-group-right">
                    <a class="nav-links" href="/about">About</a>
                    {{#if isAuth}}
                    <a class="nav-links" href="/dashboard/followed">Dashboard</a>
                    {{/if}}
                    <a class="nav-links" href="/register">Sign me up →</a>
                </div>
                <div class="hamburger-container">
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                </div>
                <div class="hamburger-menu display-none">
                    <a class="nav-links hamburger-link" href="/">Home</a>
                    <a class="nav-links hamburger-link" href="/about">About</a>
                    {{#if isAuth}}
                    <a class="nav-links hamburger-link" href="/dashboard">Dashboard</a>
                    {{/if}}
                    <a class="nav-links hamburger-link" href="/register">Sign me up →</a>
                </div>
            </nav>
        </header>


        <main>
            <h1>Dashboard - {{dashSubTitle}}</h1>
            <div class="dash-container">
                <section class="dash-sidebar">
                    <div class="user-info-card">
                        <a href="{{userUrl}}" class="user-image-a" target="_blank">
                            <img id="user-image" src="{{userImage.url}}" />
                        </a>
                        <div class="user-info-container">
                            <p id="user-display-name">Display Name: {{userDisplayName}}</p>
                            <p id="user-email">Email: {{userEmail}}</p>
                            <p id="user-id">Spotify ID: {{userId}}</p>
                        </div>
                    </div>
                    <div class=""></div>
                    <div class="sidebar-nav">
                        <a href="/dashboard/followed" class="sidebar-nav-button {{followedActive}}">Followed</a>
                        {{!-- <a href="/dashboard/recommended" class="sidebar-nav-button {{recommendedActive}}">Recommended</a> --}}
                        <a href="/dashboard/settings" class="sidebar-nav-button {{settingsActive}}">Settings</a>
                    </div>
                </section>
                <div class="dash-main">
                    <div class="loading-indicator display-none">
                        Fetching information...
                    </div>
                    {{{body}}}
                </div>
            </div>
        </main>

        <footer class="flex-end">
            <a class="nav-links" href="/privacy-policy">Privacy Policy</a>
        </footer>

    </div>

    <script src="../../scripts/layout.js"></script>
    {{#if additionalScript}}
    <script src="../../scripts/{{additionalScript}}"></script>
    {{/if}}
</body>

</html>